
{% extends 'base.html' %} 
{% block title %} About Us {% endblock title %} 
{% block body %}


 <div style=" background-color: #cccccc;
  background-image: repeating-linear-gradient(#8DD9CC, #30BFBF, #21A5B7, #0C99BA, #1184C2, #1164B5);">
  <h1 style="color: #2F8B57; text-align : center; text-shadow: 2px 2px "> <i><strong>"Farming looks mighty easy when your plow is a pencil, <br> and <br>
 you’re a thousand miles from the corn field.” </strong> </i> </h1>
 <h3 style="color: #2F8B57; text-align : right; text-shadow: 1px 0.5px"> — President Dwight D. Eisenhower   .</h3>
 <br>
 <hr>

 <div>
 <h5 style="color: black; text-align : center; "><b>Agritech is beginer-friendly website for the youngsters who want to start<br>  with farming and provides all the information regarding agriculture.</b></h5>
 <h5 style="color: black; text-align : center; "><b>We at Agritech are constantly trying to enhance more features like whether forecasting,
    <br> soil analysis,land detection etc and help our farmer friends.<br>Stay tuned for more exciting features!!</b></h5> 
 </div>
 
 <hr>
 <br>
 <div>
 <h1 style="color:black; text-align : center; "><b><u>Behind the Scenes<u></b></h1>
 </div>
 <br>
 <br>
<div class="row" style="padding-left: 3%">
  

    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="../static/amisha.jpeg" height="250" alt="Card image cap">
        <div class="card-body" style=" background-color: #d3d3d3; ">
        <h5 class="card-title" style="color: red; text-align : center;">Amisha Paralkar</h5>
      </div>
    </div>
    
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="../static/snehal.jpeg" height="250" alt="Card image cap">
      <div class="card-body" style=" background-color: #d3d3d3; " >
        <h5 class="card-title" style="color: red; text-align : center;" >Snehal Salunke</h5>
      </div>
    </div>

    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="../static/vaishu.jpg" height="250" alt="Card image cap">
      <div class="card-body" style=" background-color: #d3d3d3; ">
        <h5 class="card-title" style="color: red; text-align : center;">Vaishnavi Sawalkar</h5>
      </div>
    </div>

    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="../static/sakshi.jpeg" height="250" alt="Card image cap">
      <div class="card-body" style=" background-color: #d3d3d3; ">
        <h5 class="card-title" style="color: red; text-align : center;">Sakshi Sawant</h5>
      </div>
    </div>

    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="../static/ashlesha.jpg" height="250" alt="Card image cap">
      <div class="card-body" style=" background-color: #d3d3d3; ">
        <h5 class="card-title" style="color: red; text-align : center;">Ashlesha Shahare</h5>
      </div>
    </div>



</br>
</div>
<br>
<br>


{% endblock body %}







