{% extends 'base.html' %} 
{% block title %} Crops {% endblock title %} 
{% block body %} 

<div class="container my-4">
<h1>Crops</h1>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="/wheat"><img src="../static/wheat.jpg" height="200" class="d-block w-100" alt="..."></a>
            <div class="card-body">
              <h3>Wheat</h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button"  class="btn btn-sm btn-outline-secondary"><a href="/wheat">Explore</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="/rice"> <img src="../static/rice.jpg" height="200" class="d-block w-100" alt="..."> </a>
            <div class="card-body">
               <h3>Rice</h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button"  class="btn btn-sm btn-outline-secondary"><a href="/rice">Explore</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="/onion"> <img src="../static/mangoes.jpg" height="200" class="d-block w-100" alt="..."> </a>
            <div class="card-body">
              <h3>Mango</h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button"  class="btn btn-sm btn-outline-secondary"><a href="/onion">Explore</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="/orange"> <img src="../static/oranges.jpg" height="200" class="d-block w-100" alt="..."> </a>
            <div class="card-body">
              <h3>Oranges</h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button"  class="btn btn-sm btn-outline-secondary"><a href="/orange">Explore</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="/corn"> <img src="../static/corn.jpg" height="200" class="d-block w-100" alt="..."> </a>
            <div class="card-body">
              <h3>Corn</h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button"  class="btn btn-sm btn-outline-secondary"><a href="/corn">Explore</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="/marigold"> <img src="../static/marigold.jpg" height="200" class="d-block w-100" alt="..."> </a>
            <div class="card-body">
              <h3>Marigold</h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button"  class="btn btn-sm btn-outline-secondary"><a href="/marigold">Explore</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

{% endblock body %}