<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>A New Way of Farming ! - Insecticides</title>
  </head>
  <body style=" background-color: #e1ffff";>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/landing"><img src="../static/logo.jpg" width = "70" height = "50" alt="..."></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: white" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/crops">Crops</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/fertilizers">Fertilizers</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pesticides">Pesticides</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/moderntech">Modern Technology</a>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/about" style="color: white">About</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/contact" style="color: white">Contact Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout" style="color: white">Logout</a>
      </li>
    </ul>  
  </div>
</nav>




    <div style="align-content: center;padding-top: 5%; padding-left:30%;">
     <img src="../static/insecticides.jpg" class="align-items:center px-5" height="350" alt="Insecticides" style="padding-left: 50%">
    </div>
    <br>
    <h1 style="align: center; color: Black; padding-left: 50%; "> <b><u>Insecticides</u></b></h1>

    <div class="accordion px-5 py-5"  id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             <h4> <b> Insecticides - I  </b>  </h4>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                 <dl>
                   <dt>Rice - Carbaryl </dt>
                   <dd>- Carbaryl is a long-lasting, broad-spectrum pesticide that kills both insects and certain other invertebrates. Copper sulphate pentahydrate and diflubenzuron are narrow-spectrum pesticides that have a moderate duration impact, lasting between a few days and two weeks. Lambda-cyhalothrin, malathion and zeta-cypermethrin are all broad-spectrum pesticides used on rice. Zeta-cypermethrin is better known as Mustang, while lambda-cyhalothrin is sold as Warrior. </dd>
                   <dt>Rice - Piperonyl butoxide</dt>
                   <dd>-When it comes to chemicals that persist on the food after it’s harvested and sold, some pesticides remain. Piperonyl butoxide and MGK-264 as the top two chemicals found on rice at 16.2 percent of food tested and 8.7 percent respectively. Malathion, permethrin total and propiconazole rounded out the top 5, each at less than 2 percent. </dd>
                </dl>   
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             <h4>    <b> Insecticides - II </b>  </h4>
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <dl>
                   <dt>Maize - Stem Borer</dt>
                   <dd>- The stem borer complex is a major cause of low maize yields in Asia. The Asian corn borer is a serious pest of maize in Vietnam, Indonesia, Thailand, and the Philippines.  One of the major reasons for the low productivity of maize in India and Pakistan is damage by insects, notably spotted stem borers.  Stem borers damage  the vascular tissue of the plant and provide a portal of entry for stalk and ear rots. The destruction is caused by the larvae which after hatching, feed on leaves, and then bore their way downward into the stem. Severe infestations of maize borers can result in 75-90% crop loss. 
                   <br> Insecticides are not widely used in maize in India and Pakistan.In India stem borers are estimated to cause maize yield loss of 7.5% on 80-100% of the maize acres. 
                   </dd>
                </dl> 
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h4>   <b> Insecticides - III </b>   </h4>
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <dl>
                   <dt>Mango</dt>
                   <dd>-Use a composite insecticide (Cydim super; 36 g cypermethrin + 400 g dimethoate per liter), whereas 3.3% use Pyrinex (chlorpyrifos 480 g/liter). </dd>
                   <dt>Oranges - Orchard Sprays</dt>
                   <dd>-Citrus trees are susceptible to multiple insect pests and fungal diseases. There are many fungicides to get rid of fungi, as well as various pesticides to get rid of insect infestations. There are also combined sprays that kill fungi and pests at the same time. They are often called "multipurpose sprays" or "orchard sprays." </dd>
                </dl> 
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingfour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
              <h4>  <b> Insecticides - IV </b>  </h4>
            </button>
            </h2>
            <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <dl>
                   <dt>HORICULTURAL OILS</dt>
                   <dd>- Horticultural oils are made from refined petroleum, neem or vegetable oils. Many are available in spray form, and they work as both fungicides and pesticides. Vegetable and petroleum-based oils kill insects by suffocating them and killing their eggs. Neem oil works by disrupting insect feeding and deterring insects from producing eggs. The oils also get rid of powdery mildew fungus, especially when mixed with baking soda. Experts at the University of California Davis recommend spraying horticultural oils with pressurized sprayers. They are easiest to apply when trees lose their leaves during the dormant season, but you can also spray them to the surface and underside of leaves to get rid of active pests. However, not all oils are designed for leaf spraying. </dd>
                   <dt>MULTIPURPOSE FRUIT SPRAYS</dt>
                   <dd>-Gardening stores often sell multipurpose fruit sprays, which contain both insecticide and fungicide. According to Purdue University, most multipurpose fruit sprays contain two insecticides and a fungicide. For instance, they may contain one pesticide that works against sucking insects and one that works against chewing insects. Some environmentally-friendly sprays, such as Organicide, contain a mixture of oils with different densities to work against different pests and diseases. Multipurpose sprays can be more convenient than separate fungicides and pesticides, because they come with fungicide and insecticide chemicals that are considered compatible with each other. </dd>
                </dl> 
            </div>
            </div>
        </div>

    </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

 </div>   
  </body>
</html>