<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>A New Way of Farming ! - Marigold</title>
  </head>
  <body style=" background-color: #e1ffff";>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/landing"><img src="../static/logo.jpg" width = "70" height = "50" alt="..."></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: white" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/crops">Crops</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/fertilizers">Fertilizers</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pesticides">Pesticides</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/moderntech">Modern Technology</a>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/about" style="color: white">About</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/contact" style="color: white">Contact Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout" style="color: white">Logout</a>
      </li>
    </ul>  
  </div>
</nav>




    <div style="align-content: center;padding-top: 5%; padding-left:30%;">
     <img src="../static/marigold.jpg" class="align-items:center px-5" height="350" alt="Marigold" style="padding-left: 50%">
    </div>
    <br>
    <h1 style="align: center; color: Black; padding-left: 50%; "> <b><u>Marigold</u></b></h1>

    <div class="accordion px-5 py-5"  id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             <h4> <b>   Life Cycle  </b>  </h4>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                 <dl>
                   <dt>Land prepartion</dt>
                   <dd>-Plough land and bring field to fine tilth. To increased fertility of soil, at time of last ploughing add 250q of Farm Yard Manure or well 
                    decomposed cow dung in soil. </dd>

                   <dt>Seed Treatment</dt>
                   <dd>- Treat seed with Azospirillum@200gm mixed it in 50ml of rice gruel before sowing.</dd>
        
                   <dt>Sowing</dt>
                   <dd>- Time of sowing .Sowing of marigold can be done round the year. In rainy season, do sowing in mid-June and Transplanting in mid-July. In winter, 
                       do sowing in mid of September and in mid-October, complete transplantation. </dd>
                   
                   <dt>Method of Sowing</dt>
                   <dd>- For sowing use transplanting method.</dd>

                   <dt>Irrigation </dt>
                   <dd>- After plantation in field give irrigation immediately. Bud formation to harvesting is most important stage for irrigation. Water stress should
                       not occurr at this stage. Avoid water stagnation in field. In April to June month frequent irrigation at the interval of 4-5 days is necessary. </dd>
                
                    <dt>Harvesting</dt>
                    <dd>- Depending upon variety use, marigold will be ready to harvest in 2 to 2.5 months. French Marigold ready for harvesting in 1.5 month where as 
                       two months required for African Marigold. Plucked marigold plants when they attain full size. Harvesting should be done either in morning or
                       evening hour. Field should be irrigated before plucking of flower, it will help to maintain quality for longer period </dd>
                </dl>   
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             <h4> <b> Requirements  </b>  </h4>
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <dl>
                   <dt>Spacing</dt>
                   <dd>- Prepared nursery bed of 3m x 1m size. Add well decomposed cow dung on it. Irrigated bed and keep it moist. Crushed well dried flowers 
                          and broadcast them on bed or sown in line. When seedlings attained height of 10-15cm, they are ready for transplantation. Transplant seedlings 
                          at 35 x 35cm for French marigold while 45 x 45cm for African marigold. </dd>
                   <dt>Sowing Depth</dt>
                   <dd>- Broadcast seeds on nursery bed. </dd>
                   
                   <dt>Seed Rate</dt>
                   <dd>- 600-800gm seeds are required for one acre land. When crop is 30-45days old carry out pitching operation. It means removal of terminal portion 
                            of plant. It help to make plant bushy and compact, also more number of good quality flowers with uniform size are obtain. </dd>
                
                </dl>   
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h4>   <b>  Fertilizers and Pesticides  </b>   </h4>
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <dl>
                   <dt>Fertilizer </dt>
                   <dd>- Fertilizer Requirement (kg/acre)
                   <table> 
                   <tr> <td>UREA</td>  <td>SSP</td>  <td>MURIATE OF POTASH</td> </tr>
                   <tr> <td>70</td>  <td>100</td>   <td>53</td> </tr>
                   </table> 
                   </dd>
                   
                   <dt> Nutrient</dt>
                   <dd>- Nutrient Requirement (kg/acre)
                   <table> 
                   <tr> <td>NITROGEN </td>  <td>PHOSPHORUS</td>  <td>POTASH</td> </tr>
                   <tr> <td>32</td>  <td>16</td>   <td>32</td> </tr>
                   </table>
                   </dd>

                   <dt>N-P-K</dt>
                   <dd>- Apply basal dose of N:P:K@32:16:32kg/acre in form of Urea@70kg, Single Super Phosphate@100kg and MOP@53kg/acre for good growth. Fertilizer dose
                     changes according to soil type. To give accurate fertilizer dose, do soil testing and apply fertilizer according to it. </dd>
                   
                   <dt>Plant protection</dt>
                   <dd>- Mealy Bug: These are observed on leaves, stem and on young shoots. They secrete honey dew like substance and because of it, sooty mould developed on 
                          leaves and give black appearance.If infestation is observed, take spray of Dimethoate@2 ml/litre of water. </dd>
                </dl>   
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingfour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
              <h4>  <b>   High Yielding Varieties(HYVs)  </b>  </h4>
            </button>
            </h2>
            <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                   <dt>Pusa Sarda</dt>
                   <dd></dd>
                   
                   <dt>Pusa Madhurima</dt>
                   <dd> </dd>
                   
                   <dt>Pusa Bahar</dt>
                   <dd> </dd>

            </div>
            </div>
        </div>

    </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

 </div>   
  </body>
</html>