<!doctype html>
<html lang="en"> 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>A New Way of Farming ! - Rice</title>
  </head>
  <body style=" background-color: #e1ffff";>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/landing"><img src="../static/logo.jpg" width = "70" height = "50" alt="..."></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: white" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/crops">Crops</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/fertilizers">Fertilizers</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pesticides">Pesticides</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/moderntech">Modern Technology</a>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/about" style="color: white">About</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/contact" style="color: white">Contact Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout" style="color: white">Logout</a>
      </li>
    </ul>  
  </div>
</nav>




    <div style="align-content: center;padding-top: 5%; padding-left:30%;">
     <img src="../static/rice.jpg" class="align-items:center px-5" height="350" alt="Wheat" style="padding-left: 50%">
    </div>
    <br>
    <h1 style="align: center; color: Black; padding-left: 50%; "> <b><u>Rice</u></b></h1>

    <div class="accordion px-5 py-5"  id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h4> <b>  Life Cycle </b>  </h4>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                 <dl>
                   <dt>Vegetative Stage</dt>
                   <dd>-  It refers to a period from germination to the initiation of panicle primordia. It is characterised by active tillering, gradual increase in plant height and leaf emergence at regular intervals. Tillering may start when the main culm develops fifth or sixth leaf.
Active tillering refers to a stage when tillering rate (increase in tiller number per unit of time) is high. When tiller number per plant or unit area is maximum, the state is called maximum tillering stage, before or after the initiation of panicle primordia depending on the growth duration of the variety. Tillers developed after this stage may or may not produce panicles. </dd>
                   
                   <dt>Reproductive Stage</dt>
                   <dd>- It is characterised by culm elongation, decline in tiller number, emergence of flag leaf, booting, heading and flowering. Initiation of panicle primordia usually dates back to about 30 days before heading. Internode elongation usually begins around the initiation of panicle primordia and continues until heading. Panicle exsertation is called heading. Spikelet anthesis (flowering) begins panicle exertion or on the following day.

Consequently, heading is considered synonym for anthesis. It takes 10-14 days for a crop to complete heading due to variation in panicle exertion within tillers of the same plant and between plants in the same field. Agronomically, 50 per cent of the panicle exsertation is called heading.
Anthesis, normally, occurs between 0800 and 1300 hrs in tropical environment and fertilisation completed within 5-6 hrs later. Within the same panicle, it takes 7-10 days for all the spikelets to complete anthesis. </dd>

                   <dt>Ripening Stage</dt>
                   <dd>- Ripening follows fertilisation, which may be subdivided into milky, dough, yellowripe and maturity stages. It is characterised by leaf senescence and grain growth: increase in grain size and weight and changes in grain colour. The length of ripening, largely affected by temperature, ranges from about 30 days in tropics to 60 days in cool temperate regions such as Japan, New South Wales and Australia.
Differences in growth duration are primarily due to differences in length of the vegetative growth stage. Length of the reproductive stage plus the ripening period may be considered about the same for any variety under a particular environment. Early maturing varieties have short vegetative
stages. Hence, they may initiate panicle primordia before the maximum tiller stage and heading may be staggered as later tillers may also produce panicles. Late maturing varieties have long periods of vegetative stage and may reach maximum tillering stage before initiation of panicle primordia. The period from maximum tillering stage to initiation of panicle primordia is also referred to as vegetative- lag phase.
Direct seeded rice normally starts tillering earlier than transplanted rice. However, it produces 2-5 tillers as against 10-30 in transplanted crop. Growth duration of the same variety may be shorter by about a week under direct seeding than transplanted crop. </dd>
                
                </dl>   
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4> <b> Climatic Conditions </b><h4>
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ol>
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
               </ol>
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h4>  <b>  Fertilizers and Pesticides </b> </h4>
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <dl>
                   <dt>Fertilizer Used:</dt>
                   <dd>- Urea should be the fertilizer of choice for the cultivation of paddy rice. </dd>
                   
                   <dt>Amount of fertilizer needed: </dt>
                   <dd>- We said above that the plants need to take up 15 to 20 kg of nitrogen per hectare to produce 1 ton of grain. This means we have to apply twice as much fertilizer, or 30 to 40 kg of N per hectare, to produce an extra ton of grain!
                    Each bag will cover up to 5,000 sq ft and if you have 1/4 acre(10,890 sq ft) you will need a total of 3 bags to get the correct coverage rate. This usage rate can vary depending on the type of lawn you have and your target weed.
                   </dd>
                   
                   <dt>When to apply fertilizer:</dt>
                   <dd>- Apply early spring lawn fertilizer once between February and April, when your grass is starting to green up and begin to actively grow (around the time your lawn first needs to be mowed). </dd>
                </dl> 
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingfour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
             <h4> <b>  High Yielding Varieties(HYVs)   </b> </h4>
            </button>
            </h2>
            <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
            <div class="accordion-body"> 
                 <dl>
                   <dt>Japonica </dt>
                   <dd> </dd>
                  </dl> 
            </div>
            </div>
        </div>

    </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

 </div>   
  </body>
</html>

