<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>A New Way of Farming ! - Wheat</title>
  </head>
  <body style=" background-color: #e1ffff";>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/landing"><img src="../static/logo.jpg" width = "70" height = "50" alt="..."></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: white" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/crops">Crops</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/fertilizers">Fertilizers</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pesticides">Pesticides</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/moderntech">Modern Technology</a>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/about" style="color: white">About</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/contact" style="color: white">Contact Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout" style="color: white">Logout</a>
      </li>
    </ul>  
  </div>
</nav>




    <div style="align-content: center;padding-top: 5%; padding-left:30%;">
     <img src="../static/wheat.jpg" class="align-items:center px-5" height="350" alt="Wheat" style="padding-left: 50%">
    </div>
    <br>
    <h1 style="align: center; color: Black; padding-left: 50%; "> <b><u>Wheat</u></b></h1>
    
    <div class="accordion px-5 py-5"  id="accordionExample">     
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h4> <b> Life Cycle</b> </h4>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <dl>
                   <dt>Seedling Stage</dt>
                   <dd>- The first stage of growth in wheat is called the seedling stage. 
                       This stage occurs after germination and begins when the first true leaves emerge from the soil, and ends when the 
                       first tiller emerges. During the seedling stage the second leaves are just emerging and beginning to unroll, and 
                       there are as many as six seminal roots. </dd>
                   <dt>Tillering Stage</dt>
                   <dd>- Tillers are new shoots that are sent up from the root of the plant. 
                          Each tiller can grow its own stalk and seed head, so the number of tillers will determine the 
                          potential yield of the plant. Tillering can occur either before or after the winter dormancy stage in 
                          winter wheat, and a plant can have as many as six tillers. Tillers can be distinguished from true leaves by a 
                          sheath at the base of the growth called a prophyll. </dd>
                   <dt>Jointing stage </dt>
                   <dd>- The jointing stage starts when the stalk forms its second node, a hard joint from which the plant telescopes upwards. 
                             During the jointing stage, the smaller, less-formed tillers often die off. 
                             It is important that all the wheat in a field reaches the jointing stage at the same time so that the heads 
                             will all be mature at harvest time. </dd>
                   <dt>Booting Stage</dt>
                   <dd>- During the booting stage, the head of the wheat develops and becomes visible beneath the sheath on the stalk. 
                            The booting stage ends when the tips of the head, called awns, begin to emerge. </dd>
                   <dt>Heading and Flowering Stage</dt>
                   <dd>- The heading and flowering stage begins when the awns emerge from the sheath. 
                               When the awns have emerged the flowering begins and pollination and fertilization occurs. 
                               It is important again during the flowering stage that all the plants in a field flower at the same time.
                                Right after fertilization, the embryo and endosperm begin to form. </dd>
                   <dt>Maturity Stage</dt>
                   <dd>- The maturity stage immediately follows fertilization, and includes several short stages. 
                                The milk stage is the first part of maturing, and this is when the kernel begins forming. 
                                The kernel is fully formed during the dough stage, and the plant takes nutrients from the stalk and 
                                leaves and transfers them to the kernel. The kernel is still very moist at the end of the dough stage and 
                                contains about 30 percent water. 
                                During the ripening stage the kernel loses the rest of its moisture and is ready to be harvested. </dd>

                </dl>
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4> <b>  Climatic Conditions </b></h4>
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
               <ol>
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
               </ol>
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h4> <b>  Fertilizers and Pesticides </b> </h4>
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
               <dl>
                   <dt>Fertilizers used: </dt>
                   <dd>- Muriate of potash and potassium sulphate are the only potassic fertilizers presently available in the market. Both are equally good for wheat. In addition to the major nutrients (N, P, and K), good responses to micronutrients, especially zinc have been obtained in many areas
                   <br>An application of phosphorus as starter fertilizer can be an effective method for part or even all the phosphorus needs of wheat. Wheat plants typically show a significant increase in fall tillers and better root development with the use of starter fertilizer – both phosphorus and nitrogen.
                   </dd>
                   
                   <dt>Amount of fertilizer needed:</dt>
                   <dd>- The nitrogen, phosphorus and potassium doses of 100, 20 and 60 kg ha-1, respectively were optimum for the maximum yield of wheat under irrigation by municipal wastewater. Both the omission of N or P or K and their doses in excess of the requirement had negative effects on wheat production. </dd>

                   <dt>When to apply fertilizers:</dt>
                   <dd>- Gross says the recommended practice for wheat is to apply nitrogen in spring before the four-leaf stage, but there are advantages to applying it even sooner. “Research shows that if you can get fertilizer on earlier, even before the plants start actively growing, you can get a 15 to 30 per cent yield increase.</dd>
                </dl> 
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingfour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
               <h4> <b> High Yielding Varieties(HYVs)  </b> </h4>
            </button>
            </h2>
          <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <dl>
                   <dt>Triticum aestivum L. </dt>
                   <dd> </dd>
                  
                   <dt> paddy (Oryza sativa L.) </dt>
                   <dd> </dd>
                   
                   <dt>Pigeon Pea (Cajanus cajan (L. Mill) </dt>
                   <dd> </dd>

                   <dt>mustard (Brassica juncea L.)</dt>
                   <dd> </dd>
                  </dl> 
            </div>
          </div>
        </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

 </div>   
  </body>
</html>